.right{
    text-align: right;
}
.center{
    text-align: center;
}
.width{
    width: 100%
}

.app-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main-content {
    flex: 1; 
    padding: 20px; 
    background-color: #f8f9fa; 
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #343a40; 
    color: white;
    position: relative;
}

.input-container {
    position: relative;
}

.date-input {
    padding-right: 40px;
}

.calendar-icon {
    position: absolute;
    left: 210px;
    top: 50%;
    transform: translateY(-50%);
    color: #797373;
    pointer-events: none;
}