.river-card {
    background-color: #eaf6ff;
    border: 1px solid #b2d7ff;
    border-radius: 8px;
}

.river-card:hover {
    border-color: #6cc6ff;
}

.text-info {
    font-weight: bold;
}

.badge {
    font-size: 1rem;
    margin-left: 10px;
}

button {
    font-size: 1.1rem;
    font-weight: bold;
}
